.customized-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--color-scrollbar-thumb);
  }
}

.v-text-field__details {
  padding: 0 !important;
}
